body {
    text-align: left;
    margin: 20px;
    font-family: helvetica;
    background-color: rgb(219, 213, 213);
}

.head {
    border-radius: 105px;
    width: 210px;
}

div {
    max-width: 500px;
}